body{
    font-family: 'Poppins', sans-serif;
    color: #626262;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a{
    color: inherit;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 60px 40px;
    width: 430px;
}

.title{
    color: #007FFA;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
}

.email{
    border-radius: 15px;
    border: solid 1px #626262;
    padding: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    transition: border .3s;
}

.email:focus{
    border: solid 1px #007FFA;
}

.pas{
    padding: 20px;
    border-radius: 15px;
    font-weight: 600;
    margin-bottom: 50px;
    box-shadow: 2px 3px 5px rgb(0, 0, 0, .35);
}

.forgot{
    text-align: left;
    color: #007FFA;
    font-weight: 600;
    margin-bottom: 25px;
}

button.blueBtn {
    display: flex;
    justify-content: center;
    padding: 16px 36px;
    color: #FFFFFF;
    background-color: #007FFA;
    border-radius: 15px;
    font-size: 20px;
    transition: all 0.3s;
    margin-bottom: 8px;
    box-shadow: 2px 3px 5px rgb(0, 0, 0, .35);
  }
  button.blueBtn:hover {
    background-color: rgba(0, 127, 250, 0.8);
}
  
.login{
    text-align: center;
    color: #0B0B0B;
    font-weight: 600;
    margin-bottom: 30px;
    transition: color .3s;
    padding: 5px 0;
}

.login:hover{
    color: #626262;
}

.another{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}